* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.btn1 {
    width: 100px;
    height: 50px;
    border: 2px solid rgb(0, 0, 0);
    border-bottom-left-radius: 10px;
    border-top-right-radius:10px ;
    position: absolute;
    top: 10px;
    right: 50px;
    background: red;
}

.btn2 {
    width: 100px;
    height: 50px;
    border: 2px solid rgb(0, 0, 0);
    border-bottom-left-radius: 10px;
    border-top-right-radius:10px ;
    position: absolute;
    top: 10px;
    left: 50px;
    background: red;
}

header nav {
    width: 100%;
    height: 80px;
    background: linear-gradient(to right , blue , red);
    border-bottom-left-radius:20px ;
    border-bottom-right-radius:20px ;
    align-items: center;
    position: fixed;
    top: 0;
}

p {
    margin-top: 100px;
    
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: 500;
}
header nav h1 {
    padding-left: 650px;
    padding-top: 10px;
    color: white;
    font-family: sans-serif;
}