* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header nav {
    width: 100%;
    height: 80px;
    background: linear-gradient(to right, blue, red);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    align-items: center;
    position: fixed;
    bottom: 0;
    z-index: 11;
}
.btn1 {
    width: 100px;
    height: 50px;
    border: 2px solid rgb(0, 0, 0);
    border-bottom-left-radius: 10px;
    border-top-right-radius:10px ;
    position: absolute;
    top: 10px;
    right: 50px;
    background: red;
}

.btn2 {
    width: 100px;
    height: 50px;
    border: 2px solid rgb(0, 0, 0);
    border-bottom-left-radius: 10px;
    border-top-right-radius:10px ;
    position: absolute;
    top: 10px;
    left: 50px;
    background: red;
}


.mhdv {
    width: 200px;
    height: 200px;
    background: red;
    border-radius: 20px;
    position: sticky;
    top: 50px;
    left: 500px;
}

.dd {
    width: 100%;
    height: 2000px;
    margin-top: 200px;
    border: 5px solid black;
}
header nav h1 {
    padding-left: 650px;
    padding-top: 10px;
    color: white;
    font-family: sans-serif;
}