* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header nav {
    width: 100%;
    height: 40px;
    align-items: center;

    p {
        padding-top: 10px;
        padding-left: 100px;
        font-family: Roboto;
        font-weight: 400;
        font-style: Regular;
        font-size: 10px;
        line-height: 100%;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        color: #E4E4E4;
    }
}

.bnt1 {
    width: 45px;
    height: 45px;
    background: #2259F0;
    border: none;
    position: absolute;
    left: 40px;
    border-radius: 40px;
    top: 40px;
}

.h1 {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: 0.96px;
    position: absolute;
    top: 80px;
    left: 50px;
}

.m1 {
    margin-top: 300px;
}

.h2 {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 1.12px;
    padding-left: 100px;
    padding-top: 50px;
}

.dv {
    width: 90%;
    margin-left: 5%;
    margin-top: 50px;
    margin-bottom: 100PX;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        width: 100%;
        height: 400px;
    }

    div {
        width: 45%;
        height: 550px;
        background: #FAFAFA;
        border-radius: 20px;
    }

    h1 {
        font-family: Roboto;
        font-weight: 400;
        font-style: Regular;
        font-size: 31px;
        line-height: 40px;
        letter-spacing: 0.32px;
        padding-left: 15px;
    }

    p {
        font-family: Roboto;
        font-weight: 400;
        font-style: Regular;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 0.32px;
        color: #666666;
        padding-left: 15px;

    }
}

.h {
    font-family: sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0.32px;
    margin-left: 60px;

    img {
        width: 50px;
        height: 50px;
    }
}


.m {
    width: 90%;
    height: auto;
    margin-left: 5%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top: 50px;

    h1 {
        font-family: Roboto;
        font-weight: 400;
        font-style: Regular;
        font-size: 32px;
        line-height: 40px;
        padding-top: 20px;
        margin-left: 20px;
        letter-spacing: 0.32px;

    }


    img {
        width: 60px;
        height: 60px;
        margin-top: 150px;
        margin-left: 20px;
    }

    p {
        font-family: Roboto;
        font-weight: 400;
        font-style: Regular;
        font-size: 31px;
        line-height: 40px;
        letter-spacing: 0.32px;
        margin-left: 20px;
    }

    span {
        font-family: Roboto;
        font-weight: 400;
        font-style: Regular;
        font-size: 31px;
        margin-left: 20px;
        color: #666666;
        line-height: 40px;
        letter-spacing: 0.32px;

    }

    div {
        width: 49.8%;
        height: 400px;
        border-radius: 20px;
        background: #FAFAFA;
        margin-top: 0px;
    }
}


.fr {
    margin-left: 5%;
    margin-top: 50px;
}

.hhh {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0.32px;
    margin-top: 20px;
    margin-left: 5%;
}


.b {
    display: flex;
    margin-top: 50px;
    margin-left: 5%;
    gap: 10px;
    height: 30px;
    align-items: center;
    button {
        width:auto;
        height: 30px;
        align-items: center;
        border-radius: 20px;
        justify-content: space-around;
        p {
            
            padding-left: 10px;
            padding-right: 10px;
            align-items: center;
        }

        img {
            width: 15px;
            height: 15px;
        }
       
    }

    
}


footer {
    width: 90%;
    margin-left: 5%;
    margin-top: 100px;
}